parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
            path: ../src/DependencyInjection/Configuration.php
